<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBookstore - Book info</title>
</head>
<body>
    <h2 th:text="${bookTitle}">title</h2>
    <h3 th:text="${book.price} + ' €'">price</h3>
    <div>
        <h3>Description</h3>
        <p th:text="${book.description}">description</p>
    </div>
    <ul>
        <li th:text="'Genre: ' + ${book.genre}">genre</li>
        <li th:text="'Author: ' + ${book.author}">author</li>
        <li th:text="'Price: ' + ${book.price}">price</li>
    </ul>
    <button>Buy</button>
    <form  method="post" action="/addwish">
        <input type="hidden" name="bookTitle" th:value="${book.title}">
        <input type="hidden" name="bookAuthor" th:value="${book.author}">
        <input type="hidden" name="bookId" th:value="${book.id}">
        <button type="submit">Add to Wishlist</button>
    </form>
    <form method="get" action="/wishlist">
        <button type="submit">View your wishlist</button>
    </form>
    <br>
    <form method="get" action="/bookshelf">
        <button type="submit">Back</button>
    </form>
</body>
</html>
