<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBookstore - Bookshelf</title>
</head>
<body>
<form method="get" action="/">
    <button type="submit">Front page</button>
</form>
    <h1>Bookshelf</h1>
    <ul>
        <li th:each="book : ${bookshelf}">
            <span th:text="${book.title} + ' (author ' + ${book.author} + ')'">book</span>
            <form method="get" th:action="@{bookshelf/{item} (item=${book.title})}">
                <button type="submit">View</button>
            </form>
        </li>
    </ul>
</body>
</html>